body{
    background-color: rgba(255, 96, 11, 0.398)
}
Table{
    margin: 10px;
    border: 3px solid black;
    background-color: rgb(255, 226, 208);
}

td{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

