body{
    background-color: rgba(255, 96, 11, 0.398)
}
Table{
    margin: 10px;
    border: 3px solid black;
    background-color: rgb(255, 226, 208);
}
table caption{
    text-decoration:underline;
}

td{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 10px;
}

div.Components{
    display: flex;
    margin: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-size: large;

}
button{
    border: 3px  outset rgb(252, 122, 0);
    background-color: wheat;
    font-size: large;
}
th{
    background-color: orange;
}

tr:hover{
    background-color: rgb(255, 193, 164);
}
select, input{
    background-color: rgb(255, 244, 183);
    font-size: medium;
}
